* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container .header {
  flex: 0 1 auto;
  border-bottom: 1px solid #e6e6e6;
  padding: 2px
}

.container .content {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  overflow-y: auto;
}

.container .footer {
  flex: 0 1 auto;
  border-top: 1px solid #e6e6e6;
  padding: 2px;
}

.vertical-container {
  float: left;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #e6e6e6;
}

.header *,
.footer * {
  margin-top: 0;
  margin-bottom: 0;
}

.pad {
  height: 100%;
  padding: 5px 8px;
}

h3 {
  margin-top: 14px;
  margin-bottom: 13px;
}

#subtext {
  font-size: 16px;
  font-weight: normal;
}

.space {
  padding: 2px;
}

.more-space {
  padding: 4px;
}

.extra-space {
  padding: 8px;
}

.centre {
  width: 100%;
  text-align: center;
}

.roster {
  margin: 0;
  //background-color: burlywood;
  padding: 10px 5px 10px 30px;
  overflow: scroll;
}

.roster li {
  margin-bottom: 5px;
  font-size: 14px;
}

.roster p {
  margin: 0;
}

.warning-element {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #D43535;
  color: white;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 14px;
}

.warning-element h4 {
  margin: 0;
}
.warning-element p {
  margin-bottom: 0;
}

// Options Collapsible code
#collapse-input {
  color: black;
}
#collapse-input:hover {
  color: #515151;
}

.collapse-content .content-inner {
  margin: auto;
  width: max-content;
  text-align: left;
}

/*.collapse-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}*/
